{% extends "admin-base.html" %} {% block title %} Admin Lend{% endblock %} {% block content %}


<div class="creat_book">
    <a class="create-button" href="{{ url_for('admin.lend_form') }}">Lend Book</a>
</div>



<div class="table-boxes">


    <table>
        <thead>
            <tr>
                <th>Lend id</th>
                <th>User id</th>
                <th>Book id</th>
                <th>Date</th>
                <th>Status</th>
                <th>Approve</th>
                <th>Reject</th>
            </tr>
        </thead>
        <tbody>
            {% for lends in lend %}
            <tr>
                <td>{{ lends.lend_id }} </td>
                <td>{{ lends.user_id }} </td>
                <td>{{ lends.book_id }} </td>
                <td>{{lends.date}}</td>
                <td>{{lends.status}}</td>
                <td><a class="status-button" style="color:green" href="{{ url_for('admin.lend_approve', lend_id=lends.lend_id) }}">Approve</a></td>
                <td><a class="status-button" style="color:red" href="{{ url_for('admin.lend_reject', lend_id=lends.lend_id )}}">Reject</a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    
</div>

{% endblock %}