<!DOCTYPE html>
<html lang="en">

<head>
    <title>Index</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

    <div class=header>
        <div id=heading> Library Management system</div>
        <div class=tagbar>
            <div class=register>
                <input class="tagbutton1" type="button" value='Register'>
            </div>
            <div class=login>
                <input class="tagbutton1" type="button" value='Login'>
            </div>
        </div>
    </div>

    <div class=container>
        <div class=form>
            <div class="text-boxdiv">
                <input id="username" type="text" name="username" placeholder="Username">
            </div>
            <div class="password">
                <input id="password" type="password" name="password" placeholder="Password">
            </div>
        </div>
    </div>

    <div class=footer>
        footer
    </div>


</body>

</html>